{% extends "base.html" %}
{% block content %}
  <h1>New day - Report</h1>
  <p>count of tasks: {{ count_tasks }}</p>
  <p>count of workers: {{ count_workers }}</p>
  <p>count of completed tasks: {{ count_completed_tasks }}</p>
  <p>count of terminated_tasks: {{ count_terminated_tasks }}</p>
  <p>count of active tasks: {{ count_active_tasks }}</p>
  <br>
  <p>count of succeed completed task for 7 days</p>
  {% for date, tasks in count_completed_tasks_for_7days.items %}
  <p>{{ date }}: {{ tasks }}</p>
  {% endfor %}
  <br>
  <p>count of terminated task for 7 days</p>
  {% for date, tasks in count_terminated_tasks_for_7days.items %}
  <p>{{ date }}: {{ tasks }}</p>
  {% endfor %}
{% endblock %}
